.input-group {
  position: relative;
  margin-top: 2rem;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  color: var(--primary-color);
  font-size: 1rem;
  padding: 0 5px;
}
.input-group input {
  width: 100%;
  height: 60px;
  color: var(--primary-color);
  font-size: 1rem;
  padding: 0 15px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  outline: none;
  border-radius: 5px;
}
.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
  top: 0;
  background-color: var(--bg-color-light);
}
