.container-toastr {
  width: 27%;
  min-height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: var(--white);
  font-weight: bold;
  position: absolute;
  top: 70px;
  right: 10px;
}
