/* TYPEWRITER EFFECT */
.typewriter-container {
  display: flex;
  /* justify-content: center; */
}

.typewriter-text {
  font-size: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 0.9s steps(16) forwards, blink 1s 0.9s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
