/* TYPEWRITER EFFECT */
.typewriter-container {
  display: flex;
  /* justify-content: center; */
}

.typewriter-text {
  font-size: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 0.9s steps(16) forwards, blink 1s 0.9s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* PULSE EFFECT */
.pulse {
  width: 50px;
  height: 50px;
  margin-top: 0.8rem;
  background: rgb(127, 0, 255);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(127, 0, 255, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(127, 0, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(127, 0, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(127, 0, 255, 0);
  }
}
