.flex {
  display: flex;
  align-items: center;
}

.container {
  margin-top: 1rem;
}

.container-checkbox {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.container-checkbox label {
  cursor: pointer;
}
.container-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.container-input input {
  width: 100%;
}
.container-input input:focus {
  outline-color: var(--primary-color-light);
}

.container-informacao {
  font-size: 1.5rem;
  height: 10rem;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-copiar-btn button {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px 4px;
  margin-top: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  transition: 0.3s;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.container-copiar-btn button:hover {
  background-color: var(--primary-color-light);
}

.extra-margin-right {
  margin-right: 100px;
}
