.container-bin {
  display: flex;
  align-items: center;
}
.container-bin input {
  width: 100%;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.content {
  flex: 1;
}

.container-change-icon {
  margin: 0 1.5rem 0;
}
.container-change-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary-color);
}
