.container-bin {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.container-bin input {
  width: 100%;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.content {
  flex: 1;
}

.container-change-icon {
  margin: 1.5rem 0;
  align-self: center;
}
.container-change-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary-color);
}
.container-change-icon button {
  border-radius: 50%;
  border: none;
  background-color: var(--white);
}
