.container-header {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.19);
}

.header {
  font-family: "VT323", monospace;
  margin: 0 0 0.5rem;
  padding: 1rem 0.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
}
.header > svg {
  margin-left: 1rem;
}

.theme-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
