@font-face {
  src: url("./assets/fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-family: "Space Mono";
}

@font-face {
  src: url("./assets/fonts/VT323/VT323-Regular.ttf");
  font-family: "VT323";
}

/* https://encycolorpedia.com/7f00ff */

:root {
  --primary-color: #7f00ff;
  --primary-color-light: #8e1fff;
  --grey-1: #f7f7f7;
  --white: #ffffff;

  background: var(--grey-1);
  accent-color: var(--primary-color);
}

* {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  margin: 0;
}
