@font-face {
  src: url("./assets/fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-family: "Space Mono";
}

@font-face {
  src: url("./assets/fonts/VT323/VT323-Regular.ttf");
  font-family: "VT323";
}

/* https://encycolorpedia.com/7f00ff */

:root {
  --primary-color: #7f00ff;
  --primary-color-light: #8e1fff;

  --grey-1: #f7f7f7;
  --grey-2: #e9e9e9;

  --white: #ffffff;
  --white-1: #f0f0f0;

  --black: #000000;
  --black-1: #1a1a1a;
  --black-2: #2b2b2b;

  --bg-color-light: var(--grey-1);
  --text-color-light: var(--black);
  --bg-color-dark: var(--black-1);
  --text-color-dark: var(--white-1);

  background: var(--grey-1);
  accent-color: var(--primary-color);
}

* {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
}

body.light-theme {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}
body.dark-theme {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
body.dark-theme input {
  background-color: var(--black-2);
  color: var(--text-color-dark);
}

button {
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  outline-color: var(--primary-color);
}
input[type="text"],
input[type="number"] {
  outline-color: var(--primary-color-light);
}

/* For WebKit browsers (Chrome, Safari, Edge) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}
/* For other browsers, including a fallback for the above */
input[type="number"] {
  appearance: textfield;
}
